.container {
  display: grid;
  grid-template-columns: 1fr 541px;
  width: 1440px;
  overflow: hidden;
}

.navImageDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding-left: 45px;
  padding-top: 45px;
}

.companyName {
  font-family: "inter";
  font-weight: 600;
  font-size: 32px;
  color: #184e7f;
}

.imageDiv {
  width: 541px;
  height: 1024px;
  background-color: azure;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.formContainer {
  display: flex;
  flex-direction: column;
}
