.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 48px 120px;
  height: 144px;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #ebf1f9;
}
